/* Header.css */

.header {
  background-image: linear-gradient(
    to top,
    #193165 0%,
    #1b3e7a 1%,
    #000000 100%
  );
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 1000;
  font-size: larger;
  height: 7vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
